.logger {
    position: fixed;
    width: 100%;
    max-width: 35rem;
    height: 4rem;
    text-wrap: wrap;
    background: var(--cl-white-pure);
    padding: 1rem;
    font-size: 1.4rem;
    color: var(--cl-red-flag);
    border: .1rem solid var(--cl-primary-purple);
    border-radius: .5rem;
    z-index: 1;
    left: 50%;
    bottom: 1rem;
    display: none;
    transform: translateX(-50%);
    transition: transform .3s;
    animation: floatInForLog .3s;
}

.logger-display {
    display: flex;
    justify-content: center;
}