@keyframes floatIn {
  0% {
    transform: translateY(50%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes error {
  0% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(-5px);
  }
}
:root {
  --text-color: #222;
  --background-color: #fff;
  --flat-color: #e11212;
  --border-color: #bbb;
  --active-color: #ccc;
  --blue-color: #6001d2;
}

.dark-mode {
  --text-color: #fff;
  --background-color: #222;
  --flat-color: #e11212;
  --border-color: #444;
  --active-color: #555;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::-moz-selection {
  background-color: var(--text-color);
  color: var(--background-color);
}

*::selection {
  background-color: var(--text-color);
  color: var(--background-color);
}

body {
  width: 100%;
  height: 100%;
  font-family: Be VietNam Pro, Arial, Helvetica, sans-serif;
  position: relative;
  background-color: var(--background-color);
  color: var(--text-color);
  transition: background 0.3s, color 0.3s;
}
body h1 {
  text-align: center;
}
body .settings {
  display: flex;
  width: 80%;
  justify-content: flex-start;
  align-items: center;
  margin: 20px auto;
  padding: 0 20px;
  gap: 30px;
}
body .settings .settings-frame {
  position: relative;
}
body .settings .settings-frame .settings-content {
  position: absolute;
  background-color: var(--border-color);
  width: 300px;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  margin-top: 10px;
  display: none;
  animation: floatIn 0.5s;
}
body .settings .settings-frame .settings-content .settings-content__row {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin: 5px 0;
}
body .settings .settings-frame .settings-content .settings-content__row label {
  width: 50%;
}
body .settings .settings-frame .settings-content .settings-content__row input {
  width: 50%;
  padding: 5px;
  border: 1px solid var(--border-color);
  border-radius: 5px;
  outline: none;
  font-weight: 600;
}
body .settings .settings-frame .settings-content .settings-content__row .disable {
  background-color: #fff;
}
body .settings .settings-frame .settings-content .settings-content__row .time-switch {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
}
body .settings .settings-frame .settings-content .settings-content__row .time-switch label {
  width: 65%;
}
body .settings .settings-frame .settings-content .settings-content__row .time-switch input {
  accent-color: var(--blue-color);
  height: 16px;
}
body .settings .tutorial {
  position: relative;
}
body .settings .tutorial .tutorial-content {
  position: absolute;
  width: 470px;
  background-color: var(--border-color);
  padding: 10px;
  border-radius: 5px;
  margin-top: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  display: none;
  animation: floatIn 0.5s;
}
body .settings .tutorial .tutorial-content p {
  width: 100%;
  text-align: start;
  margin-bottom: 5px;
}
body .settings .tutorial .tutorial-content p::before {
  content: "- ";
}
body .settings .limit-flag {
  width: 50px;
}
body .settings .clock {
  border: 1px solid var(--border-color);
  width: 80px;
  height: 40px;
  opacity: 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 5px;
}
body .settings .clock .size {
  font-size: 1.2rem;
  background-color: var(--border-color);
  padding: 5px;
  border-radius: 5px;
  width: 40%;
  text-align: center;
  font-family: monospace;
  height: 80%;
}
body .settings .btn {
  padding: 5px 10px;
  width: 120px;
  height: 40px;
  margin-left: auto;
  border: none;
  border-radius: 5px;
  background-color: var(--blue-color);
  color: #fff;
  font-weight: 600;
  font-size: 1rem;
  font-family: Be VietNam Pro, Arial, Helvetica, sans-serif;
  cursor: pointer;
  transition: background 0.3s, color 0.3s;
}
body .settings .btn:hover {
  background-color: var(--active-color);
}
body #game-board {
  display: grid;
  justify-content: center;
  margin: 20px auto;
  width: 70%;
  height: auto;
}
body #game-board .cell {
  border: 1px solid var(--border-color);
  background-color: var(--background-color);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: background 0.3s, color 0.3s;
}
body #game-board .cell:hover {
  background-color: var(--active-color);
}
body #game-board .cell.flag {
  background-color: var(--flat-color);
  color: var(--text-color);
}
body #game-board .cell.bomb {
  background-color: var(--flat-color);
  color: var(--text-color);
}
body #game-board .cell.open {
  background-color: var(--active-color);
  color: var(--text-color);
}
body #game-board .cell.open0 {
  background-color: var(--active-color);
  color: var(--background-color);
}
body #game-board .cell.open1 {
  color: #1976D2;
}
body #game-board .cell.open2 {
  color: #388E3C;
}
body #game-board .cell.open3 {
  color: #D32F2F;
}
body #game-board .cell.open4 {
  color: #7B1FA2;
}
body #game-board .cell.open5 {
  color: #1976D2;
}
body #game-board .cell.open6 {
  color: #388E3C;
}
body #game-board .cell.open7 {
  color: #D32F2F;
}
body #game-board .cell.open8 {
  color: #7B1FA2;
}
body .display {
  display: block;
}
body i {
  font-size: 1.5rem;
}
body .bomb {
  font-size: 1rem;
}
body .red-flag {
  color: var(--flat-color);
  font-size: 1rem;
}
body .notification {
  background-color: var(--flat-color);
  position: absolute;
  width: 300px;
  padding: 10px;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  animation: appear 1s;
}
body .error {
  border: 1px solid var(--flat-color);
  color: var(--flat-color);
  animation: error 0.2s ease-in-out;
}

@media screen and (max-width: 680px) {
  body .settings {
    padding: 0 10px;
    display: grid;
    width: 100%;
    height: auto;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(2, 40px);
  }
  body .settings .settings-frame {
    grid-column: 1/span 2;
  }
  body .settings .settings-mode {
    grid-column: 3/span 2;
  }
  body .settings .tutorial {
    grid-column: 5/span 2;
  }
  body .settings .tutorial .tutorial-content {
    width: 270px;
  }
  body .settings .limit-flag {
    grid-column: 7/span 2;
  }
  body .settings .clock {
    grid-column: 10/span 3;
  }
  body .settings .btn {
    grid-column: 1/-1;
    width: unset;
    margin-left: unset;
    font-size: 0.8rem;
    flex-wrap: wrap;
  }
  body #game-board {
    width: 90%;
  }
}
@media screen and (max-width: 400px) {
  body .settings {
    padding: 0;
  }
}/*# sourceMappingURL=styles.css.map */