.minesweeper {
  width: 100vw;
  height: auto;
  margin-top: 2rem;
}
.minesweeper .minesweeper-settings {
  width: 90%;
  max-width: 100rem;
  gap: 1rem;
  margin: 0 auto;
}
.minesweeper .minesweeper-settings .minesweeper-settings-level {
  width: 25rem;
  height: 4rem;
  color: var(--cl-primary-purple);
}
.minesweeper .minesweeper-settings .minesweeper-settings-flag p {
  font-size: 1.6rem;
}
.minesweeper .minesweeper-settings .minesweeper-settings-clock {
  margin-left: auto;
}
.minesweeper .minesweeper-settings .minesweeper-settings-clock .countdown-clock {
  height: 5rem;
  width: 10rem;
  border: 0.1rem solid var(--cl-primary-purple);
  border-radius: 0.4rem;
  justify-content: space-evenly;
}
.minesweeper .minesweeper-settings .minesweeper-settings-clock .countdown-clock .countdown-clock-time {
  width: 42%;
  aspect-ratio: 1;
  background: var(--cl-primary-yellow);
  border-radius: 0.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.8rem;
  font-family: monospace;
}
.minesweeper .minesweeper-settings .minesweeper-settings-clock .countdown-clock .countdown-clock-spread {
  font-size: 1.6rem;
  font-weight: 600;
  color: var(--cl-primary-purple);
}
.minesweeper .minesweeper-broad {
  width: 100%;
  height: auto;
  padding: 1rem;
  position: relative;
  margin-top: 1rem;
}
.minesweeper .minesweeper-broad .customize-broad {
  position: absolute;
  left: 50%;
  width: 100vw;
  max-width: 50rem;
  font-size: 1.6rem;
  background: var(--cl-white);
  padding: 2rem;
  border-radius: 0.5rem;
  transform: translateX(-50%);
  z-index: 1;
}
.minesweeper .minesweeper-broad .customize-broad .customize-container {
  margin-bottom: 1rem;
}
.minesweeper .minesweeper-broad .customize-broad .customize-container .customize-field {
  display: flex;
  align-items: center;
  width: 20rem;
  justify-content: space-between;
  gap: 1rem;
}
.minesweeper .minesweeper-broad .customize-broad .customize-container .customize-field .customize-name {
  color: var(--cl-primary-purple);
}
.minesweeper .minesweeper-broad .customize-broad .customize-container .customize-field .customize-data {
  background: transparent;
  color: var(--cl-primary-purple);
  padding: 0.5rem;
  display: block;
  width: 10rem;
  border-bottom: 0.2rem solid var(--cl-primary-purple);
  text-align: center;
}
.minesweeper .minesweeper-broad .customize-broad .customize-container .range-allow {
  color: var(--cl-primary-purple);
}
.minesweeper .minesweeper-broad .customize-broad .customize-container .range-allow .easy-green {
  color: green;
}
.minesweeper .minesweeper-broad .customize-broad .customize-container .range-allow .hard-red {
  color: var(--cl-red-flag);
}
.minesweeper .minesweeper-broad .customize-broad .setting-time {
  gap: 0.5rem;
  height: 2rem;
  margin: 1rem 0;
}
.minesweeper .minesweeper-broad .customize-broad .setting-time input {
  accent-color: var(--cl-primary-yellow);
}
.minesweeper .minesweeper-broad .customize-broad .setting-time label {
  font-size: 1.2rem;
}
.minesweeper .minesweeper-broad .customize-broad .confirm-customize, .minesweeper .minesweeper-broad .customize-broad .reset-customize {
  width: 100%;
  height: 4rem;
  border: none;
  border-radius: 0.5rem;
  font-size: 1.6rem;
  font-weight: 600;
  background: var(--cl-primary-yellow);
  color: var(--cl-white-pure);
  margin-bottom: 1rem;
}
.minesweeper .minesweeper-broad .customize-broad .reset-customize {
  background: var(--cl-primary-purple);
}
.minesweeper .minesweeper-broad .customize-broad__hidden {
  display: none;
}
.minesweeper .minesweeper-broad .game-broad {
  gap: 0.1rem;
  justify-content: center;
  position: relative;
}
.minesweeper .minesweeper-broad .game-broad .wrapper-game-over {
  background: transparent;
  height: 100%;
  width: 100%;
  position: absolute;
}
.minesweeper .minesweeper-broad .game-broad .wrapper-game-over .game-over {
  background: var(--cl-primary-purple);
  color: var(--cl-white-pure);
  width: 100%;
  max-width: 40rem;
  height: auto;
  text-align: center;
  padding: 1.5rem;
  font-size: 2.4rem;
  position: sticky;
  top: 1rem;
  flex-direction: column;
  gap: 1.8rem;
  margin: 0 auto;
  border-radius: 1rem;
  animation: appear 0.5s;
}
.minesweeper .minesweeper-broad .game-broad .wrapper-game-over .game-over .game-over-state {
  width: 80%;
  height: auto;
  text-align: center;
  text-wrap: wrap;
}
.minesweeper .minesweeper-broad .game-broad .wrapper-game-over .game-over .game-over-gif {
  width: 90%;
  height: auto;
}
.minesweeper .minesweeper-broad .game-broad .wrapper-game-over .game-over .game-over-option {
  width: 100%;
  max-width: 40rem;
  justify-content: space-between;
}
.minesweeper .minesweeper-broad .game-broad .wrapper-game-over .game-over .game-over-option .game-over-option-restart, .minesweeper .minesweeper-broad .game-broad .wrapper-game-over .game-over .game-over-option .game-over-option-home {
  width: 35%;
  min-width: 10rem;
  font-size: 1.6rem;
  padding: 1rem;
  border: none;
  border-radius: 0.5rem;
  background: var(--cl-white-pure);
  color: var(--cl-primary-purple);
  transition: all 0.3s;
}
.minesweeper .minesweeper-broad .game-broad .wrapper-game-over .game-over .game-over-option .game-over-option-restart:hover, .minesweeper .minesweeper-broad .game-broad .wrapper-game-over .game-over .game-over-option .game-over-option-home:hover {
  background: var(--cl-primary-yellow);
  color: var(--cl-black);
}
.minesweeper .minesweeper-broad .game-broad .game-broad-cell {
  border: 0.1rem solid var(--cl-gray);
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 600;
}
.minesweeper .minesweeper-broad .game-broad .game-broad-cell:hover {
  background-color: var(--cl-gray);
}
.minesweeper .minesweeper-broad .game-broad .game-broad-cell.bomb {
  background-color: var(--cl-red-flag);
}
.minesweeper .minesweeper-broad .game-broad .game-broad-cell.open0 {
  background-color: var(--cl-gray);
}
.minesweeper .minesweeper-broad .game-broad .game-broad-cell.open1 {
  color: #1976D2;
}
.minesweeper .minesweeper-broad .game-broad .game-broad-cell.open2 {
  color: #388E3C;
}
.minesweeper .minesweeper-broad .game-broad .game-broad-cell.open3 {
  color: #D32F2F;
}
.minesweeper .minesweeper-broad .game-broad .game-broad-cell.open4 {
  color: #7B1FA2;
}
.minesweeper .minesweeper-broad .game-broad .game-broad-cell.open5 {
  color: #1976D2;
}
.minesweeper .minesweeper-broad .game-broad .game-broad-cell.open6 {
  color: #388E3C;
}
.minesweeper .minesweeper-broad .game-broad .game-broad-cell.open7 {
  color: #D32F2F;
}
.minesweeper .minesweeper-broad .game-broad .game-broad-cell.open8 {
  color: #7B1FA2;
}

.tool {
  display: grid;
  grid-template-columns: repeat(2, 3rem);
  grid-template-rows: repeat(2, 3rem);
  gap: 0.1rem;
  position: absolute;
  z-index: 2;
  transition: top 0.2s, left 0.2s;
}
.tool .tool-cell {
  justify-content: center;
  background: var(--cl-gray);
}
.tool .tool-cell .tool-btn {
  font-size: 2.5rem;
}
.tool .tool-cell .open {
  color: var(--cl-primary-purple);
}
.tool .tool-cell .flag {
  color: var(--cl-red-flag);
}
.tool .refer {
  background: transparent;
  border: 0.1rem solid var(--cl-primary-purple);
}
.tool .tool-cell-open {
  grid-area: open;
}
.tool .tool-cell-close {
  grid-area: close;
}
.tool .tool-cell-flag {
  grid-area: flag;
}

.logger {
  position: fixed;
  width: 100%;
  max-width: 35rem;
  height: 4rem;
  text-wrap: wrap;
  background: var(--cl-white-pure);
  padding: 1rem;
  font-size: 1.4rem;
  color: var(--cl-red-flag);
  border: 0.1rem solid var(--cl-primary-purple);
  border-radius: 0.5rem;
  z-index: 1;
  left: 50%;
  bottom: 1rem;
  display: none;
  transform: translateX(-50%);
  transition: transform 0.3s;
  animation: floatInForLog 0.3s;
}

.logger-display {
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 45rem) {
  .minesweeper .minesweeper-settings {
    display: grid;
    grid-template-rows: repeat(2, 3.5rem);
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "flag clock" "level level";
    gap: 2rem 0;
  }
  .minesweeper .minesweeper-settings .minesweeper-settings-level {
    grid-area: level;
    width: 100%;
  }
  .minesweeper .minesweeper-settings .minesweeper-settings-flag {
    grid-area: flag;
  }
  .minesweeper .minesweeper-settings .minesweeper-settings-clock {
    grid-area: clock;
  }
}/*# sourceMappingURL=Minesweeper.css.map */