.chess {
  position: relative;
  width: 100vw;
  display: flex;
  gap: 5rem;
  padding: 1rem 0;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.chess .chess-board-area {
  width: 95%;
  height: auto;
  max-width: 60rem;
  min-width: 35rem;
  position: relative;
}
.chess .chess-board-area .chess-board {
  width: 100%;
  border: 0.1rem solid var(--cl-black);
  border-radius: 0.5rem;
}
.chess .chess-board-area .chess-board .chess-board-coordinate {
  font-size: 0.3rem;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.chess .chess-board-area .piece {
  position: absolute;
  top: 0;
  left: 0;
  width: 12.5%;
  height: 12.5%;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  cursor: grab;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  transition: transform 0.05s;
  z-index: 1;
}
.chess .chess-board-area .square-1 {
  transform: translate(0, 695%);
}
.chess .chess-board-area .square-2 {
  transform: translate(100%, 695%);
}
.chess .chess-board-area .square-3 {
  transform: translate(200%, 695%);
}
.chess .chess-board-area .square-4 {
  transform: translate(300%, 695%);
}
.chess .chess-board-area .square-5 {
  transform: translate(400%, 695%);
}
.chess .chess-board-area .square-6 {
  transform: translate(500%, 695%);
}
.chess .chess-board-area .square-7 {
  transform: translate(600%, 695%);
}
.chess .chess-board-area .square-8 {
  transform: translate(700%, 695%);
}
.chess .chess-board-area .square-9 {
  transform: translate(0, 595%);
}
.chess .chess-board-area .square-10 {
  transform: translate(100%, 595%);
}
.chess .chess-board-area .square-11 {
  transform: translate(200%, 595%);
}
.chess .chess-board-area .square-12 {
  transform: translate(300%, 595%);
}
.chess .chess-board-area .square-13 {
  transform: translate(400%, 595%);
}
.chess .chess-board-area .square-14 {
  transform: translate(500%, 595%);
}
.chess .chess-board-area .square-15 {
  transform: translate(600%, 595%);
}
.chess .chess-board-area .square-16 {
  transform: translate(700%, 595%);
}
.chess .chess-board-area .square-17 {
  transform: translate(0, 496%);
}
.chess .chess-board-area .square-18 {
  transform: translate(100%, 496%);
}
.chess .chess-board-area .square-19 {
  transform: translate(200%, 496%);
}
.chess .chess-board-area .square-20 {
  transform: translate(300%, 496%);
}
.chess .chess-board-area .square-21 {
  transform: translate(400%, 496%);
}
.chess .chess-board-area .square-22 {
  transform: translate(500%, 496%);
}
.chess .chess-board-area .square-23 {
  transform: translate(600%, 496%);
}
.chess .chess-board-area .square-24 {
  transform: translate(700%, 496%);
}
.chess .chess-board-area .square-25 {
  transform: translate(0, 398%);
}
.chess .chess-board-area .square-26 {
  transform: translate(100%, 398%);
}
.chess .chess-board-area .square-27 {
  transform: translate(200%, 398%);
}
.chess .chess-board-area .square-28 {
  transform: translate(300%, 398%);
}
.chess .chess-board-area .square-29 {
  transform: translate(400%, 398%);
}
.chess .chess-board-area .square-30 {
  transform: translate(500%, 398%);
}
.chess .chess-board-area .square-31 {
  transform: translate(600%, 398%);
}
.chess .chess-board-area .square-32 {
  transform: translate(700%, 398%);
}
.chess .chess-board-area .square-33 {
  transform: translate(0, 300%);
}
.chess .chess-board-area .square-34 {
  transform: translate(100%, 300%);
}
.chess .chess-board-area .square-35 {
  transform: translate(200%, 300%);
}
.chess .chess-board-area .square-36 {
  transform: translate(300%, 300%);
}
.chess .chess-board-area .square-37 {
  transform: translate(400%, 300%);
}
.chess .chess-board-area .square-38 {
  transform: translate(500%, 300%);
}
.chess .chess-board-area .square-39 {
  transform: translate(600%, 300%);
}
.chess .chess-board-area .square-40 {
  transform: translate(700%, 300%);
}
.chess .chess-board-area .square-41 {
  transform: translate(0, 200%);
}
.chess .chess-board-area .square-42 {
  transform: translate(100%, 200%);
}
.chess .chess-board-area .square-43 {
  transform: translate(200%, 200%);
}
.chess .chess-board-area .square-44 {
  transform: translate(300%, 200%);
}
.chess .chess-board-area .square-45 {
  transform: translate(400%, 200%);
}
.chess .chess-board-area .square-46 {
  transform: translate(500%, 200%);
}
.chess .chess-board-area .square-47 {
  transform: translate(600%, 200%);
}
.chess .chess-board-area .square-48 {
  transform: translate(700%, 200%);
}
.chess .chess-board-area .square-49 {
  transform: translate(0, 100%);
}
.chess .chess-board-area .square-50 {
  transform: translate(100%, 100%);
}
.chess .chess-board-area .square-51 {
  transform: translate(200%, 100%);
}
.chess .chess-board-area .square-52 {
  transform: translate(300%, 100%);
}
.chess .chess-board-area .square-53 {
  transform: translate(400%, 100%);
}
.chess .chess-board-area .square-54 {
  transform: translate(500%, 100%);
}
.chess .chess-board-area .square-55 {
  transform: translate(600%, 100%);
}
.chess .chess-board-area .square-56 {
  transform: translate(700%, 100%);
}
.chess .chess-board-area .square-57 {
  transform: translate(0, 0);
}
.chess .chess-board-area .square-58 {
  transform: translate(100%, 0);
}
.chess .chess-board-area .square-59 {
  transform: translate(200%, 0);
}
.chess .chess-board-area .square-60 {
  transform: translate(300%, 0);
}
.chess .chess-board-area .square-61 {
  transform: translate(400%, 0);
}
.chess .chess-board-area .square-62 {
  transform: translate(500%, 0);
}
.chess .chess-board-area .square-63 {
  transform: translate(600%, 0);
}
.chess .chess-board-area .square-64 {
  transform: translate(700%, 0);
}
.chess .chess-board-area .bp {
  background-image: url(../../assets/image/bp.png);
}
.chess .chess-board-area .br {
  background-image: url(../../assets/image/br.png);
}
.chess .chess-board-area .bb {
  background-image: url(../../assets/image/bb.png);
}
.chess .chess-board-area .bn {
  background-image: url(../../assets/image/bn.png);
}
.chess .chess-board-area .bq {
  background-image: url(../../assets/image/bq.png);
}
.chess .chess-board-area .bk {
  background-image: url(../../assets/image/bk.png);
}
.chess .chess-board-area .wp {
  background-image: url(../../assets/image/wp.png);
}
.chess .chess-board-area .wr {
  background-image: url(../../assets/image/wr.png);
}
.chess .chess-board-area .wb {
  background-image: url(../../assets/image/wb.png);
}
.chess .chess-board-area .wn {
  background-image: url(../../assets/image/wn.png);
}
.chess .chess-board-area .wq {
  background-image: url(../../assets/image/wq.png);
}
.chess .chess-board-area .wk {
  background-image: url(../../assets/image/wk.png);
}
.chess .chess-board-area .dragging {
  z-index: 2;
}
.chess .chess-board-area .chess-effect {
  position: absolute;
  width: 12.5%;
  height: 12.5%;
  background-color: aqua;
  top: 0;
  left: 0;
  border: 0.4rem solid var(--cl-primary-yellow);
  background: transparent;
  z-index: 0;
}
.chess .chess-board-area .suggest-div, .chess .chess-board-area .promotion-div, .chess .chess-board-area .taken-div {
  position: absolute;
  width: 12.5%;
  height: 12.5%;
  top: 0;
  left: 0;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 0;
}
.chess .chess-board-area .taken-div {
  z-index: 2;
}
.chess .chess-board-area .promotion-div {
  z-index: 3;
}
.chess .chess-board-area .attack {
  position: absolute;
  width: 12.5%;
  height: 12.5%;
  top: 0;
  left: 0;
}
.chess .chess-board-area .bg-white {
  background-color: var(--cl-white-pure);
}
.chess .chess-board-area .bg-purple {
  background-color: var(--cl-primary-purple);
}
.chess .move-list-wrapper {
  flex-direction: column;
  background-color: var(--cl-black);
  color: var(--cl-primary-yellow);
  width: 95%;
  max-width: 60rem;
  min-width: 35rem;
  border-radius: 8px;
  aspect-ratio: 1;
  overflow: hidden;
  font-size: 1.6rem;
}
.chess .move-list-wrapper .move-list-header {
  padding: 0.5rem 1rem;
  background-color: #111;
  border-bottom: 1px solid #333;
  width: 100%;
}
.chess .move-list-wrapper .move-list {
  width: 100%;
  height: 60%;
  border-bottom: 0.1rem solid var(--cl-gray);
  overflow-y: scroll;
}
.chess .move-list-wrapper .move-list::-webkit-scrollbar {
  width: 0.5rem;
}
.chess .move-list-wrapper .move-list::-webkit-scrollbar-track {
  background: transparent;
}
.chess .move-list-wrapper .move-list::-webkit-scrollbar-thumb {
  background: var(--cl-gray);
  border-radius: 0.5rem;
}
.chess .move-list-wrapper .move-list .move-row {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  height: 5rem;
  border-bottom: 1px solid var(--cl-black);
}
.chess .move-list-wrapper .move-list .move-row .move-num {
  width: 2.5rem;
  color: var(--cl-gray);
}
.chess .move-list-wrapper .move-list .move-row .move-container {
  flex: 1;
  color: var(--cl-primary-yellow);
  justify-content: center;
  gap: 0.5rem;
}
.chess .move-list-wrapper .move-list .move-row .move-container .move {
  width: 10rem;
  justify-content: center;
  border-radius: 0.5rem;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.chess .move-list-wrapper .move-list .move-row .move-container .move:active {
  background-color: gray;
  box-shadow: 0.2rem 0.2rem var(--cl-gray);
}
.chess .move-list-wrapper .move-list .move-row .move-container .move img {
  width: 3rem;
  display: block;
}
.chess .move-list-wrapper .move-list .move-row .move-container .move p {
  height: 3rem;
}
.chess .move-list-wrapper .move-list .move-row .move-container .move-current {
  background-color: gray;
  box-shadow: 0.2rem 0.2rem var(--cl-gray);
}
.chess .move-list-wrapper .move-list .move-row:nth-child(even) {
  background-color: #1c1c1c;
}
.chess .move-list-wrapper .move-list-settings, .chess .move-list-wrapper .move-list-option .move-list-new-game,
.chess .move-list-wrapper .move-list-option .move-list-resign {
  width: 90%;
  height: 6rem;
  justify-content: center;
  gap: 1rem;
  background-color: var(--cl-primary-yellow);
  transition: background 0.2s ease;
  border-radius: 1.5rem;
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: 0.1rem 0.1rem rgba(116, 116, 116, 0.2);
}
.chess .move-list-wrapper .move-list-settings:hover, .chess .move-list-wrapper .move-list-option .move-list-new-game:hover,
.chess .move-list-wrapper .move-list-option .move-list-resign:hover {
  background-color: var(--cl-primary-yellow);
  color: var(--cl-black);
  box-shadow: 0.1rem 0.1rem var(--ink-400);
}
.chess .move-list-wrapper .move-list-option {
  width: 90%;
  height: 10rem;
  justify-content: space-between;
}
.chess .move-list-wrapper .move-list-option .move-list-new-game,
.chess .move-list-wrapper .move-list-option .move-list-resign {
  width: 46%;
}
.chess .game-mode-selector {
  position: relative;
  width: 95%;
  max-width: 60rem;
  min-width: 35rem;
  aspect-ratio: 1;
  overflow-x: hidden;
  overflow-y: scroll;
  font-size: 1.6rem;
  background: var(--cl-black-light);
  padding: 2rem;
  padding-bottom: 0;
  border-radius: 0.8rem;
  color: var(--cl-white-pure);
}
.chess .game-mode-selector::-webkit-scrollbar {
  width: 0.5rem;
}
.chess .game-mode-selector::-webkit-scrollbar-track {
  background: transparent;
}
.chess .game-mode-selector::-webkit-scrollbar-thumb {
  background: var(--cl-gray);
  border-radius: 0.5rem;
}
.chess .game-mode-selector h2,
.chess .game-mode-selector h3 {
  margin-bottom: 1rem;
}
.chess .game-mode-selector .mode-buttons {
  gap: 1rem;
  margin-bottom: 1.5rem;
  flex-wrap: wrap;
}
.chess .game-mode-selector .mode-buttons button {
  width: 100%;
  padding: 1.5rem 1rem;
  border: none;
  border-radius: 0.4rem;
  background: var(--cl-black-lighter);
  color: var(--cl-white-pure);
  cursor: pointer;
  transition: background 0.3s;
  font-size: 1.8rem;
}
.chess .game-mode-selector .mode-buttons button.active {
  background: var(--cl-primary-purple);
}
.chess .game-mode-selector .bot-groups,
.chess .game-mode-selector .time-groups {
  flex-wrap: wrap;
  gap: 1rem;
}
.chess .game-mode-selector .options-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(8rem, 1fr));
  gap: 1rem;
}
.chess .game-mode-selector .options-container .time, .chess .game-mode-selector .options-container .bot-chess {
  justify-content: center;
  border: none;
  border-radius: 0.4rem;
  background: var(--cl-black-lighter);
  padding: 1.5rem 1rem;
  cursor: pointer;
}
.chess .game-mode-selector .options-container .time.active, .chess .game-mode-selector .options-container .active.bot-chess {
  background: var(--cl-primary-purple);
  outline: 0.2rem solid var(--cl-white-pure);
}
.chess .game-mode-selector .options-container .bot-chess {
  aspect-ratio: 1;
  padding: 0;
}
.chess .game-mode-selector .options-container .bot-chess img {
  width: 100%;
  height: auto;
  display: block;
}
.chess .game-mode-selector .bot-group,
.chess .game-mode-selector .time-group {
  width: 100%;
  flex-wrap: wrap;
  margin-bottom: 1rem;
}
.chess .game-mode-selector .bot-group h4,
.chess .game-mode-selector .time-group h4 {
  margin-bottom: 0.5rem;
}
.chess .game-mode-selector .play-container {
  width: 100%;
  height: auto;
  position: sticky;
  bottom: 0;
  padding-bottom: 1.5rem;
  background: var(--cl-black-light);
}
.chess .game-mode-selector .play-container .bot-info-container {
  padding: 1rem;
  background: var(--cl-black);
  border-radius: 8px;
  display: flex;
  align-items: center;
  gap: 1rem;
}
.chess .game-mode-selector .play-container .bot-info-container .avatar-bot-large {
  width: 80px;
  height: 80px;
  border-radius: 8px;
}
.chess .game-mode-selector .play-container .bot-info-container .bot-details {
  flex: 1;
}
.chess .game-mode-selector .play-container .bot-info-container .bot-details h4 {
  margin: 0 0 0.5rem 0;
}
.chess .game-mode-selector .play-container .bot-info-container .bot-details .bot-des {
  gap: 0.5rem;
}
.chess .game-mode-selector .play-container .bot-info-container .bot-details .bot-des .beginner {
  color: green;
}
.chess .game-mode-selector .play-container .bot-info-container .bot-details .bot-des .intermediate {
  color: blue;
}
.chess .game-mode-selector .play-container .bot-info-container .bot-details .bot-des .advanced {
  color: red;
}
.chess .game-mode-selector .play-container .bot-info-container .bot-details .bot-des .cyberchallenge {
  color: red;
}
.chess .game-mode-selector .play-container .play-btn {
  margin-top: 2rem;
  width: 100%;
  padding: 1.5rem 1rem;
  background: var(--cl-primary-yellow);
  border: none;
  border-radius: 0.4rem;
  font-size: 1.8rem;
  font-weight: bold;
  cursor: pointer;
  color: black;
}
.chess .game-mode-selector .play-container .play-btn:hover {
  opacity: 0.8;
}

@media screen and (max-width: 80rem) {
  .chess {
    padding-top: 3rem;
  }
}/*# sourceMappingURL=Chess.css.map */