:root {
    --cl-primary-purple: #5309B3;
    --cl-primary-yellow: #FACC14;
    --cl-gray: #CED4DA;
    --cl-white-pure: #FFFFFF;
    --cl-white: #F2F2F2;
    --cl-black: #222222;
    --cl-red-flag: #EF0A0A;
    --cl-red-error: #FBD0D0;
}