
@mixin btnForm($width, $height, $border, $radius, $size, $weight) {
    width: $width;
    height: $height;
    border: $border;
    border-radius: $radius;
    font-size: $size;
    font-weight: $weight;
}