@import 'colors';
@import 'keyframes';

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    font-family: 'Be Vietnam Pro', sans-serif;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
    font-family: 'Be Vietnam Pro', sans-serif;
    scrollbar-width: thin;
}

body {
    min-height: 100vh;
    /* min-h-screen */
    background: linear-gradient(to bottom right, #f5f3ff, #dbeafe);

    .flex-div {
        display: flex;
        align-items: center;
    }

    a {
        text-decoration: none;
    }

    input, button, textarea, select {
        font-size: inherit;
    }
}